
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
:root{
  --primary: hsl(193, 38%, 86%);
  --secondary: hsl(150, 100%, 66%);
  --grayish-blue :hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);


}

body{
  background-color: var(--dark-blue);
  font-family: 'Manrope', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}





.advice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: auto;
  background-color: var(--dark-grayish-blue);
  border-radius: 5px;
  padding: 1em 2em;
  box-shadow: 4px 4px 80px rgba(0, 0, 0, 0.7);  
  top: 5rem;
  left: 0;
  right: 0;
  position: fixed;
}

.advice-container h3{
  color: var(--secondary);
  font-size: 13px;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.advice-container p{
  font-size: 28px;
  color: var(--primary);
  text-align: center;
}

.footer{
  position: fixed;
  left: 0;
  right: 0;
 
  bottom: 0;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
 
  margin: auto;

}

.footer a{
  color: var(--secondary);
  text-decoration: none;
}

img.desktop-divider{
  padding-bottom: 3rem;
  width: 90%;
}



.iconDice-container {
  position: absolute;
  top: calc(100% - 35px); /* Adjust the value as needed */
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: var(--secondary);
  padding: 15px;

  transition: background-color 0.3s ease; /* Add transition for smooth color change */

  /* Hover effect */
  &:hover {
  }
}

.hidden{
  display: none;
}


/* Media Query for mobile devices */
@media only screen and (max-width: 1000px) {
  img.desktop-divider{
    display: none;
  }
  img.mobile-divider{
    display: block;
    padding-bottom: 3rem;
    width: 90%;
  }
  .advice-container {
    width: 60%;
   
  }

  .advice-container p {
    font-size: 16px;
  }


  .footer {
    margin-top: 0.5rem;
  }
  .footer p{
    font-size: 10px;
  }
}